*
{
    margin:0;
    padding:0;
}

html
{
    background-color: 	rgb(222,222,255);
}

.logo
{
    width: 10%;
    z-index: 5;
}

.banner
{
    width:100%;
    z-index: 5;
}

.topbar
{
    display:flex;
    position: absolute;
    right:0;
    top:0;
    height: 8vw;
    width:89.92%;
    background-color: rgb(207,228,255);
    border: 1px black solid;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

.desktop_nav
{
    display:flex;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav_option
{
    background-color: rgb(252,148,50);
    height:50%;
    width:12%;
    border: 1px black solid;
    font-size: large;
    cursor:pointer;
}

.nav_link
{
    text-decoration: none;
    color:black;
    display:block;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile_nav
{
    display: none;
}


@media screen and (max-width: 600px) 
{
    .logo
    {
        width: 25%;
    }
    
    .topbar
    {
        position: absolute;
        right:0;
        top:0;
        height: 20vw;
        width:74.8%;
    }

    .hamburger
    {
        float:right;
        background-color: transparent;
        outline-color: transparent;
        border-color: transparent;
        cursor: pointer;
        height:50px;
        position:relative;
        bottom:3px;
    }

    .mobile_dropdown_menu
    {
        transform: translateY(-100%);
        transition: transform 0.5s;
        text-align: center;
        width:40vw;
        height:330px;
        position: absolute;
        right:0;
        background-color:  rgb(207,228,255);
        list-style-type: none;
        padding-top:30px;
        border:1px solid black;
        z-index: 1;
    }

    .menu_item
    {
        color:darkslateblue;
        text-decoration: none;
    }

    .mobile_nav
    {
        position: absolute;
        right:0;
        top:0;
    }

    .show_menu 
    {
        transform: translateY(20vw); 
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 10;
    }
    
    div.mobile_nav { display: block; }
    div.desktop_nav { display: none };
}