
.bottom_bar
{
    color:white;
    background-color: black;
    height: 6%;
    width: 100%;
    position: absolute;
    bottom:0;
    text-align: center;
    font-size: x-large;
}

.bottom_bar_web_links
{
    color:darkslateblue;
    text-decoration: none;
}

.samsung_link
{
    padding-right:60px;
}

.apple_link
{
    padding-left:60px;
}

@media screen and (max-width: 600px) /* Checks for mobile view by checking how many pixels the viewport is, and when it reaches the pixel criteria it executes the code inside the {} */
{
    .statement_box
    {
        margin:5%;
        width:89%;
        height:45%;
        border:1px solid black;
        border-radius: 2%;
        position: absolute;
        top:12%;
        background-color: rgb(207,228,255);
        overflow-wrap: normal;
        overflow:scroll;
        padding: 1%;
    }

    .call_to_action_box
    {
        margin:5%;
        width:90%;
        height:10%;
        border:1px solid black;
        border-radius: 2%;
        position: absolute;
        bottom:23%;
        background-color: rgb(184,245,237);
        overflow-wrap: normal;
        overflow:scroll;
    }

    .review_box
    {
        margin:5%;
        width:90%;
        height:15%;
        border:1px solid black;
        border-radius: 2%;
        position: absolute;
        bottom:5%;
        background-color: rgb(255,247,161);
        overflow-wrap: normal;
        overflow:scroll;
    }

    .bottom_bar
    {
        font-size: medium;
    }
}